.stake-container {
  position: relative;
  width: 1200px;
  margin: 20px -100px 0;
}

.stake-pool .title {
  padding-top: 200px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: url('../../assets/stake.jpg') center center / auto 200px no-repeat;
}

.unstake-pool-title {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.pool-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px -10px 0;
}

.pool-list-item {
  width: 32%;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 40px;
  background-position: center 20px;
  background-size: 48px auto;
  background-repeat: no-repeat;
}

.pool-list-item-disabled .item-detail-wrapper > div:not(:last-child) {
  filter: grayscale(1);
}

.item-detail {
  position: relative;
  padding: 40px 0;
  font-size: 16px;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, .07);
  background: white;
}

.item-detail .corner-badge {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  width: 100px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  transform: translateX(50px) rotate(45deg) translateY(8px);
  transform-origin: top center;
  background: RGBA(254, 51, 47, 1.00);
}

.item-detail-wrapper {
  margin: 0 24px;
}

.staking-text {
  line-height: 58px;
  font-size: 24px;
  font-weight: bold;
  background-position: right center;
  background-size: 36px auto;
  background-repeat: no-repeat;
}

.stake-lp-token {
  float: right;
}

.staking-token-name {
  margin: 0 -24px;
  line-height: 58px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: RGBA(43, 190, 127, 0.1);
}

.earn-line {
  margin: 40px 0;
  font-size: 16px;
}

.total-staking {
  margin: 40px 0;
  font-size: 16px;
}

.earn-line span,
.total-staking span {
  float: right;
}

.select-btn {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  color: #fff;
  border-radius: 40px;
  background: RGBA(43, 190, 127, 1.00);
}

.closed-pool-entrance {
  margin: 0 32px;
  padding: 28px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, .07);
  background: #fff;
}
