.token-icon-wrapper {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.token-icon-item {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: top;
  background-position: left center;
  background-size: 36px auto;
  background-repeat: no-repeat;
}

.token-icon-item.with-drop-shadow {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

.token-icon-item + .token-icon-item {
  z-index: -1;
  margin-left: -8px;
}


/* rc-tooltip */
.rc-tooltip {
  opacity: 1;
}
.rc-tooltip-inner {
  min-height: 0;
}

/* icons */
.icon-WBTC,
.icon-iWBTC,
.icon-sWBTC,
.icon-pWBTC {
  background-image: url('../assets/pWBTC.svg');
}

.icon-iONTd,
.icon-sONTd,
.icon-ONTd {
  background-image: url('../assets/ONTd.svg');
}

.icon-renBTC,
.icon-srenBTC,
.icon-irenBTC,
.icon-prenBTC {
  background-image: url('../assets/prenBTC.svg');
}

.icon-USDC,
.icon-iUSDC,
.icon-sUSDC,
.icon-pUSDC {
  background-image: url('../assets/pUSDC.svg');
}

.icon-iWING,
.icon-sWING,
.icon-WING {
  background-image: url('../assets/wing_icon.svg');
}

.icon-ETH,
.icon-iETH,
.icon-sETH,
.icon-pETH {
  background-image: url('../assets/ETH.svg');
}

.icon-DAI,
.icon-iDAI,
.icon-sDAI,
.icon-pDAI {
  background-image: url('../assets/oDAI.svg');
}

.icon-USDT,
.icon-iUSDT,
.icon-sUSDT,
.icon-pUSDT {
  background-image: url('../assets/pusdt.svg');
}

.icon-sUSD,
.icon-isUSD,
.icon-ssUSD,
.icon-psUSD {
  background-image: url('../assets/psusd.svg');
}

.icon-NEO,
.icon-iNEO,
.icon-sNEO,
.icon-pNEO {
  background-image: url('../assets/neo-ont.svg');
}

.icon-UNI,
.icon-iUNI,
.icon-sUNI,
.icon-pUNI {
  background-image: url('../assets/UNI-ONT.svg');
}

.icon-iONG,
.icon-sONG,
.icon-ONG {
  background-image: url('../assets/ONG_icon.svg');
}

.icon-iONT,
.icon-sONT,
.icon-ONT {
  background-image: url('../assets/ONT.svg');
}

.icon-UNX {
  background-image: url('../assets/newunx.svg');
}

.icon-fWBTC {
  background-image: url('../assets/wfpWBTC.png');
}

.icon-fONT {
  background-image: url('../assets/wfONTd.png');
}

.icon-f-renBTC {
  background-image: url('../assets/wfprenBTC.png');
}

.icon-fUSDC {
  background-image: url('../assets/wfpUSDC.png');
}

.icon-fWING {
  background-image: url('../assets/wfwing.png');
}

.icon-fETH {
  background-image: url('../assets/wfETH.png');
}

.icon-fDAI {
  background-image: url('../assets/wfoDAI.png');
}

.icon-fUSDT {
  background-image: url('../assets/wfpusdt.png');
}

.icon-fSUSD {
  background-image: url('../assets/wfpsusd.png');
}

.icon-fNEO {
  background-image: url('../assets/wfneo-ont.png');
}

.icon-fUNI {
  background-image: url('../assets/wfUNI-ONT.png');
}

.icon-fONG {
  background-image: url('../assets/wfONG_icon.png');
}