.add-liquidity-wrapper {
  padding: 24px 20px 40px;
  width: 480px;
  margin: 20px auto 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .07);
  background: white;
}

.al-header {
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.back-icon {
  position: absolute;
  left: 20px;
  top: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url('../../../assets/back.png') center / auto 24px no-repeat;
}

.al-wrapper {
  margin-top: 40px;
}

.first-provider-hint {
  margin: 10px 24px 20px;
  padding: 20px;
  border-radius: 8px;
  background: RGBA(243, 248, 255, 1.00);
}

.first-provider-hint div {
  font-size: 18px;
}

.al-wrapper .form-item {
  margin-bottom: 20px;
}

.icon-plus {
  height: 24px;
  background: url('../../../assets/plus.png') center / auto 18px no-repeat;
}

.al-price-wrapper {
  display: flex;
  margin: 20px 24px;
  border-radius: 8px;
  background: #546A5B;
}

.al-price-item {
  flex: 1;
  padding: 12px 0;
  text-align: center;
}

.price-item-detail {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.price-item-label {
  font-size: 16px;
  color: #E5E5E5;
}

.al-add-btn {
  margin: 0 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  color: #fff;
  border-radius: 40px;
  background: RGBA(43, 190, 127, 1.00);
}

.al-add-btn.disabled {
  background: #9B9B9B;
  cursor: not-allowed;
}

.min-amount-hint {
  margin: -36px 0 36px 176px;
  font-size: 16px;
  color: #888;
}