.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  padding: 0 24px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, .07);
  background: #fff;
}

.logo-wrapper {
  position: relative;
  float: left;
  width: 120px;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  padding-left: 80px;
  height: 80px;
  background: url('../../assets/nlogo.svg') left center / auto 80px no-repeat;
}

.logo-wrapper .site-intro {
  position: absolute;
  right: -10px;
  top: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url('../../assets/question.png') center center / 100% auto no-repeat;
}

.nav-list {
  float: left;
  margin-left: 40px;
  padding-left: 20px;
  border-left: 1px solid #f5f5f5;
}

.nav-item {
  display: inline-block;
}

.nav-item a {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  padding: 28px 24px 28px 12px;
  text-decoration: none;
  color: #2c2c2c;
}

.nav-item a:hover {
  color: RGBA(49, 63, 165, 1.00);
}

.profile-wrapper {
  position: relative;
  box-sizing: border-box;
}

.claimable-wing {
  float: right;
  margin: 18px 12px 0 0;
  padding: 0 20px;
  line-height: 44px;
  border-radius: 24px;
  background: RGBA(43, 190, 127, 0.1);
}

.account-address {
  position: relative;
  float: right;
  margin-top: 18px;
  padding: 0 40px;
  line-height: 44px;
  border-radius: 24px;
  cursor: pointer;
  background: RGBA(43, 190, 127, 0.1);
}

.account-address:before {
  position: absolute;
  content: '';
  left: 20px;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 4px;
  background: RGBA(43, 190, 127, 1.00);
}

.account-address:after {
  position: absolute;
  content: '';
  right: 20px;
  top: 0;
  bottom: 0;
  width: 10px;
  background: url('../../assets/triangle_down.png') center / 10px auto no-repeat;
}

.account-address.triangle-up:after {
  transform: rotate(180deg);
  transition: all .5s;
}

.connect-btn {
  float: right;
  cursor: pointer;
  padding: 4px 10px;
  margin-top: 24px;
  border: 1px solid RGBA(43, 190, 127, 1.00);
  border-radius: 20px;
  color: RGBA(43, 190, 127, 1.00);
}

.profile-panel {
  position: absolute;
  top: 88px;
  right: 0;
  width: 280px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .07);
  background: #fff;
}

.setting-section-title {
  padding-left: 28px;
  font-weight: bold;
  background: url('../../assets/setting.png') left top / 20px auto no-repeat;
}

.slippage-setting {
  display: flex;
  margin-top: 12px;
}

.slippage-item {
  width: 60px;
  margin-right: 12px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  background: #E7E7E7;
}

.slippage-item.selected {
  color: #fff;
  background: RGBA(43, 190, 127, 1.00);
}

.slippage-input-wrapper {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #949494;
}

.slippage-input-wrapper .slippage-input {
  width: 90px;
  padding: 0 8px 0 0;
  text-align: right;
  border: none;
  outline: none;
}

.signout-btn {
  margin: 24px auto 0;
  width: 120px;
  text-align: center;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 20px;
  color: #fff;
  background: RGBA(254, 51, 47, 1.00);

}
