.stake-title {
  position: relative;
  margin: 0 240px;
  font-size: 28px;
  text-align: center;
}

.stake-title span {
  position: relative;
  margin: 0 20px;
  padding-left: 30px;
  font-weight: bold;
  background-size: 24px auto;
  background-position: left center;
  background-repeat: no-repeat;
}

.stake-title .lp-token-span {
  padding-left: 48px;
}

.inline-token-wrapper {
  margin: 0 8px 0 20px;
}

.inline-token-wrapper .token-icon-item {
  width: 24px;
  background-size: 24px auto;
}

.stake-token-detail, .harvest-token-detail, .claimable-wing-detail {
  display: flex;
  align-items: center;
  margin: 40px 240px 0;
  padding: 40px 24px;
  font-size: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, .07);
  background: white;
}

.stake-token-amount, .harvest-token-amount, .claimable-wing-amount {
  position: relative;
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  padding-left: 120px;
  background-position: left center;
  background-size: 48px auto;
  background-repeat: no-repeat;
}

.stake-token-amount {
  display: flex;
  padding-left: 0;
}

.stake-token-amount, .harvest-token-amount {
  line-height: 40px;
}

.stake-token-wrapper {
  width: 120px;
}

.stake-token-wrapper .token-icon-item {
  width: 48px;
  height: 80px;
  background-size: 48px auto;
}

.stake-token-wrapper .token-icon-item + .token-icon-item {
  margin-left: -12px;
}

.stake-token-amount-detail {
  flex: 1;
}

.stake-token-amount-label, .harvest-token-amount-label {
  font-size: 18px;
  color: #949494;
}

.stake-token-actions, .harvest-token-actions {
  width: 200px;
  padding: 20px 0;
}

.stake-token-action, .harvest-token-action {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  color: #fff;
  border-radius: 40px;
  background: RGBA(43, 190, 127, 1.00);
}

.stake-token-action:last-child, .harvest-token-action:last-child {
  margin-bottom: 0;
}

.token-placeholder {
  padding-top: 120px;
  background-position: center;
  background-size: 48px auto;
  background-repeat: no-repeat;
}

.stake-btn {
  margin: 0 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  color: #fff;
  border-radius: 40px;
  background: RGBA(43, 190, 127, 1.00);
}

.claimable-wing-label {
  float: right;
}

.claimable-wing-label span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  vertical-align: 4px;
  text-align: center;
  color: #fff;
  background: #222;
}
